extends layout

block content
	#wrapper-main-About-us
		include components/masterTopMenu.html

		include components/termsMainContent.html
		include components/homeSliderFeedback.html
		include components/homeCallOutMessages.html
		include components/homeAreYouARepairer.html
			
		include components/masterFooterAndCopyright.html

block javaScript
	script(src='/js/pages/terms.js' type='text/javascript')